# Ignore audio files in audio and music folders
_audio/*
_music/*

# Keep .gitkeep files so that the folders are not deleted
!_audio/.gitkeep
!_music/.gitkeep

# Other ignores
config.codekit3
.DS_Store